<div>
  <div class = "container">
    <div class= "Bienvenue">
      <h1>Yekola ASBL</h1>
      <p>
        Yekola ASBL est une association sans but 
        lucratif enregistrée au Registre des personnes 
        morales de Bruxelles. Son siège social est 
        situé à la Rue de l’Empereur 10, 1000 
        Bruxelles. Fondée par un groupe de 
        passionnés d'éducation et de culture, 
        l'association s'engage à favoriser le 
        développement social, la réduction de la 
        fracture numérique et la préservation du 
        patrimoine culturel.
      </p>
    </div>
    <div class="image-row">
      <img src="/assets/Votre texte de paragraphe.png" alt="">
      <img src="/assets/image Ne-Muanda profil.png" alt="">
    </div>

    <div class="mission fade-in">
        <h1>Notre Mission</h1>
        <p>Notre mission est de promouvoir l'accès à 
          l'éducation et à la culture pour tous, en 
          mettant un accent particulier sur l'inclusion 
          numérique des régions en développement. 
          Nous croyons fermement que la maîtrise des 
          outils numériques est aujourd'hui 
          indispensable pour l'autonomisation des 
          individus et des communautés.
        </p>
    </div>

    <div class="objectifs">
      <div class="image-row">
        <img src="/assets/image 1 Imani 2300.png" alt="">
        <img src="/assets/image 2 Imani 2300.png" alt="">
      </div>
      <h1>Nos Objectifs</h1>
      <h3>Nos objectifs sont multiples :</h3>
      <p>
        Faciliter l’accès à l’éducation numérique 
        pour les populations marginalisées.
      </p>
      <p>
        Promouvoir l’alphabétisation numérique 
        à travers des programmes de formation 
        accessibles à tous.
      </p>
      <p>
        Développer des initiatives éducatives et 
        culturelles intégrant les technologies 
        numériques pour renforcer les identités 
        locales et encourager le dialogue 
        interculturel.
      </p>
      <p>
        Soutenir le développement économique 
        en utilisant les Technologies de 
        l’Information et de la Communication 
        (TIC) comme levier d'opportunités 
        d'emploi.
      </p>
      <p>
        Créer des partenariats solides avec des 
        organisations locales, des institutions 
        publiques et des entreprises pour 
        amplifier l'impact de nos actions.
      </p>
    </div>
    <div class="atteindre">
      <p>
        Pour atteindre ces objectifs, Yekola ASBL organise des ateliers éducatifs, met en place des centres d’apprentissage numérique, développe du contenu éducatif et culturel adapté aux besoins des communautés locales et mène des actions de plaidoyer pour sensibiliser sur les enjeux liés à la fracture numérique et à la valorisation du patrimoine culturel.
      </p>
    </div>

    <div class="image-row">
      <img src="/assets/image 3.png" alt="">
      <img src="/assets/image 4.png" alt="">
    </div>

    <div class= "valeurs">
      <h1>Nos Valeurs</h1>
      <p>
        Nos valeurs reposent sur l’inclusion, la solidarité, l’innovation et le respect des diversités culturelles. À travers toutes ses actions, Yekola ASBL cherche à construire des ponts entre les cultures et à offrir des opportunités concrètes pour un avenir meilleur.
      </p>
    </div>
    

    <div class="organisation">
        <div class="image-row">
          <img src="/assets/image 1.png" alt="">
          <img src="/assets/image 0.png" alt="">
        </div>
          <h1>Notre Organisation</h1>
        <p>
          Notre organisation est structurée autour d’une Assemblée générale composée de membres effectifs, qui détient les principaux pouvoirs décisionnels de l’association. Chaque membre a un droit de vote égal et peut participer activement aux grandes orientations de l’ASBL. La gouvernance repose également sur un Organe d’administration chargé de la gestion quotidienne.
        </p>
    </div>

    <div class= "fonctionnement">
      <h1>Notre Fonctionnement</h1>
      <p>
        Notre fonctionnement est soutenu par des cotisations annuelles, des dons, ainsi que par des projets et actions de levée de fonds. Les membres de l'association contribuent activement à son dynamisme à travers leur engagement personnel, leur expertise et leur enthousiasme.
      </p>
    </div>
    <div class="durée">
        <h1>Durée</h1>
        <p>
          Durée : L'association est constituée pour une durée illimitée, afin de porter ses projets et ses ambitions sur le long terme.
        </p>
        <img src="/assets/Yekola.png" alt="">
    </div>
    <footer class="site-footer">
      <div class="footer-content">
        <p class="footer-join">
          Rejoignez-nous dans <strong>Yekola</strong> et permettez à vos enfants de grandir, apprendre et s'épanouir dans une expérience éducative exceptionnelle !
        </p>
        <p class="footer-info">
          Très bientôt ouverture du site officiel : <a href="https://www.yekolo.info" target="_blank">www.Yekolo.info</a>
        </p>
        <p class="footer-credits">
          © Padraig Matthew & Co - 2025 <br />
          © 2025 Yekola ASBL. Tous droits réservés.
        </p>
      </div>
    </footer>
  </div>
  
</div>
<router-outlet />
